<div class="row">
  <div class="col-md-6" id="right-section-video">
    <app-right-section-video></app-right-section-video>
  </div>
  <div class="col-md-6" id="right-section-topics">
    <app-right-section-topics></app-right-section-topics>
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="right-section-tagging">
    <app-right-section-tagging></app-right-section-tagging>
  </div>
  <div class="col-md-6" id="right-section-fish">
    <app-right-section-fish></app-right-section-fish>
  </div>
</div>
