<div class="row" style="margin-bottom: 1%">
  <div class="col-md-6" id="right-section-video">
    <app-right-section-video></app-right-section-video>
  </div>
  <div class="col-md-6" id="right-section-topics">
    <app-right-section-topics-new></app-right-section-topics-new>
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="right-section-tagging">
    <app-right-section-tagging></app-right-section-tagging>
  </div>
  <div class="col-md-6" id="right-section-fish">
    <app-right-section-fish></app-right-section-fish>
  </div>
</div>

<div class="row" style="margin-top: 5em;">
  <div class="col-md-6" style="margin-top: -5em">
    <app-interaction-summary></app-interaction-summary>
  </div>
  <div class="col-md-6">
    <app-rank-evolution></app-rank-evolution>
  </div>
</div>
