<div style="background-color: lightblue;">
    <!-- <p style="color:crimson;">right-section-topics works!</p>

    <h3 style="color:crimson;">We can change colors and put labels</h3> -->
    <div id="timeline6"></div>
    <!-- <script type="text/javascript">
        var myData = [
            {icon:"guns.png", times: [{"color":"green", "starting_time": 1355752800000, "display_icon":"biden.png"}, {"color":"blue", "starting_time": 1355767900000, "display":"rect"}]},
            {icon:"economic.png", times: [{"color":"pink", "starting_time": 1355759910000, "display_icon":"elizabeth.png"} ]},
            {icon:"immigration.png", times: [{"color":"yellow", "starting_time": 1355761910000, "display_icon":"bernie.png"}, {"color":"blue", "starting_time": 1355767900000, "display_icon":"elizabeth.png"}]}
          ];
        
        function timelineLabelColor() {
            var chart = d3.timeline()
              .beginning(1355752800000) // we can optionally add beginning and ending times to speed up rendering a little
              .ending(1355774400000)
              .stack() // toggles graph stacking
              .margin({left:70, right:30, top:0, bottom:0})
              ;
            var svg = d3.select("#timeline6").append("svg").attr("width", width)
              .datum(myData).call(chart);
          } 
        timelineLabelColor();  
    </script> -->
    
</div>


