  <div id="tagging-overlay-main"></div>
  <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" id="spinner-main" role="status">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row" style="height: 30em; margin-top: -13.5em;">
        <div class="col-md-12">
          <app-right-section-video-cust></app-right-section-video-cust>
        </div>
      </div>
      <div class="row" style="margin-top: 18em">
        <div class="col-md-12">
          <div id="interaction_summary">
            <app-interaction-summary-cust></app-interaction-summary-cust>
          </div>
          <div id="rank_evolution" style="display: none">
            <app-rank-evolution-cust></app-rank-evolution-cust>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6">

      <div class="row" style="height: 35em;">
        <div class="col-md-12">
          <app-right-section-topics-cust></app-right-section-topics-cust>
        </div>
      </div>

      <div class="row" style="height: 30em">
        <div class="col-md-12">
          <app-right-section-fish-cust></app-right-section-fish-cust>
        </div>

      </div>
      <button type="button" class="btn btn-primary" style="margin-top: 5em" (click)="switchGraph()">Switch Graph</button>
    </div>
  </div>


