<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="top-nav-bar">
  <ul class="navbar-nav" style="height: 100%; ">
    <li>
      <label id="ticker" class="enableTicker">Choose</label>
    </li>
    <li>
      <input id="user-id-input" class="form-control mr-sm-2" type="text" placeholder="Enter User ID">
    </li>
    <li class="nav-item">
      <button type="button" class="topSection btn btn-primary" (click)="recordTaggerType('democrat', 0)">Democrat</button>
    </li>
    <li class="nav-item">
      <button type="button" class="topSection btn btn-secondary" (click)="recordTaggerType('neutral', 1)">Neutral</button>
    </li>
    <li class="nav-item">
      <button type="button" class="topSection btn btn-danger" (click)="recordTaggerType('republican', 2)">Republican</button>
    </li>
  </ul>
  <img id="mainLogo" src="../../../assets/images/logo.png" style="width: 15em;margin-left: 56%;">
</nav>

