<div class="card" style="width: 22rem;" id="add-candidate">
  <div class="card-body">

    <div class="row">
      <div class="col-md-8">
        <h6 class="card-subtitle mb-2" id="title-pop-up"><b>ADD CANDIDATE</b></h6>
      </div>
      <div class="col-md-4">
       <i class="fa fa-times" aria-hidden="true" id="close-pop-up"></i>
      </div>
      <hr>
    </div>


    <img src="../../assets/images/empty_profile.png" class="img-circle" alt="..." id="candidate-img">
    <form>
      <div class="form-group">
        <br/>
        <input type="text" class="form-control" id="candidate_name" placeholder="Enter Candidate Name">
      </div>

      <div class="input-group mb-3">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="parties" value="Democratic">Democratic
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="parties" value="Republican">Republican
          </label>
        </div>
      </div>


      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="text" id="input_file"  class="form-control" (keydown)="uploadImage($event)" placeholder="Enter Image URL">
        </div>
      </div>
      <small id="input_file_path" class="form-text text-muted"></small><br/>
      <button type="button" class="btn btn-primary" id="save-pop-up">Save</button>
    </form>
  </div>
</div>
