<br/>
<div class="row">
  <div class="col-md-5">
    <button type="button" class="btn btn-success" id="tag_btn">Tag</button>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <button type="button" class="btn btn-success" id="save_btn">Save</button>
  </div>
  </div>
<br/>
<div class="row">
  <div class="col-md-5">
    <div class="form-check" id="side_democrats">
      <ul style="list-style-type: none">
        <li *ngFor="let democrat of democrats;"><input  class="form-check-input democrats-check" type="checkbox" id="{{democrat.name}}" (mouseover)='highlightDebaterPic("democrat",democrat.id)' (mouseleave)='highlightDebaterPic("democrat",democrat.id)'>
          <label for="{{democrat.name}}" (mouseover)='highlightDebaterPic("democrat",democrat.id)' (mouseleave)='highlightDebaterPic("democrat",democrat.id)'>{{democrat.name}}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2" id="side_center">
      <button type="button" class="btn btn-danger tag_direction" id="tag_direction_right"><i class="fa fa-arrow-right"></i></button>
      <button type="button" class="btn btn-danger tag_direction" id="tag_direction_left"><i class="fa fa-arrow-left"></i></button>
      <br/>
      <br/>
      <label id="tag_time"></label>
  </div>
  <div class="col-md-5">
    <div class="form-check" id="side_republican">
      <ul style="list-style-type: none; ">
        <li *ngFor="let debater of republicans;"><input  class="form-check-input republican-check" type="checkbox" id="{{debater.name}}" (mouseover)='highlightDebaterPic("republican",debater.id)' (mouseleave)='highlightDebaterPic("republican",debater.id)'>
          <label for="{{debater.name}}" (mouseover)='highlightDebaterPic("republican",debater.id)' (mouseleave)='highlightDebaterPic("republican",debater.id)'>{{debater.name}}</label>
        </li>
      </ul>
    </div>
  </div>

</div>
